Data Exploring

In [1]:
import pandas as pd

# load the dataset
df = pd.read_csv('News_Articles_Final.csv')

In [2]:
# print firt 5 rows
print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
   Index                                             Author  \
0    0.0                                 Jacopo Prisco, CNN
1    2.0                              Stephanie Bailey, CNN
2    3.0  Words by Stephanie Bailey, video by Zahra Jamshed
3    4.0                    Paul R. La Monica, CNN Business
4    7.0                                            Reuters

        Date published  Category    Section  \
0  2021-07-15 02:46:59      news      world
1  2021-05-12 07:52:09      news      world
2  2021-06-16 02:51:30      news       asia
3  2022-03-15 09:57:36  business  investing
4  2022-03-15 11:27:02  business   business

                                                 Url  \
0  https://www.cnn.com/2021/07/14/world/tusimple-...
1  https://www.cnn.com/2021/05/12/world/ironhand-...
2  https://www.cnn.com/2021/06/15/asia/swarm-robo...
3  https://www.cnn.com/2022/03/15/investing/brics...
4  https://www.cnn.com/2022/03/15/business/russia...

                                            Headline  \
0  There's a shortage of truckers, but TuSimple t...
1  Bioservo's robotic 'Ironhand' could protect fa...
2  This swarm of robots gets smarter the more it ...
3  Russia is no longer an option for investors. T...
4  Russian energy investment ban part of new EU s...

                                         Description  \
0  The e-commerce boom has exacerbated a global t...
1  Working in a factory can mean doing the same t...
2  In a Hong Kong warehouse, a swarm of autonomou...
3  For many years, the world's most popular emerg...
4  The European Union formally approved on Tuesda...

                                            Keywords  \
0  world, There's a shortage of truckers, but TuS...
1  world, Bioservo's robotic 'Ironhand' could pro...
2  asia, This swarm of robots gets smarter the mo...
3  investing, Russia is no longer an option for i...
4  business, Russian energy investment ban part o...

                                     Second headline  \
0  There's a shortage of truckers, but TuSimple t...
1  A robotic 'Ironhand' could protect factory wor...
2  This swarm of robots gets smarter the more it ...
3  Russia is no longer an option for investors. T...
4  EU bans investment in Russian energy in new sa...

                                        Article text  Unnamed: 0
0   (CNN)Right now, there's a shortage of truck d...         NaN
1   (CNN)Working in a factory or warehouse can me...         NaN
2   (CNN)In a Hong Kong warehouse, a swarm of aut...         NaN
3  New York (CNN Business)For many years, the wor...         NaN
4  The European Union formally approved on Tuesda...         NaN

In [3]:
# print last 5 rows
print("Last 5 rows of the dataset:")
print(df.tail())

Last 5 rows of the dataset:
       Index Author Date published  Category Section  \
45948    NaN    NaN            NaN  politics     NaN
45949    NaN    NaN            NaN  politics     NaN
45950    NaN    NaN            NaN  politics     NaN
45951    NaN    NaN            NaN  politics     NaN
45952    NaN    NaN            NaN     world     NaN

                                                     Url  \
45948  https://edition.cnn.com/2023/01/01/politics/mc...
45949  https://edition.cnn.com/2023/02/04/politics/ch...
45950  https://edition.cnn.com/2023/02/03/politics/us...
45951  https://edition.cnn.com/2023/01/25/politics/ch...
45952  https://edition.cnn.com/2023/02/15/europe/russ...

                                                Headline  \
45948  McCarthy commits to key concession in call wit...
45949  What to know about the suspected Chinese spy b...
45950  Why the US hasn't shot down the suspected Chin...
45951  Chinese engineer sentenced to 8 years in US pr...
45952  Tensions mount at the Belarus-Ukraine border a...

                                             Description  \
45948  House GOP leader Kevin McCarthy outlined some ...
45949  A suspected Chinese surveillance balloon in th...
45950  As the US and its Canadian partners continue t...
45951  A former graduate student in Chicago was sente...
45952  Tensions are mounting at the border between Uk...

                                                Keywords Second headline  \
45948  domestic alerts, domestic-us politics, governm...             NaN
45949  asia, brand safety-nsf sensitive, brand safety...             NaN
45950                                                NaN             NaN
45951  armed forces, asia, brand safety-nsf crime, br...             NaN
45952  belarus, border control, brand safety-nsf sens...             NaN

                                            Article text  Unnamed: 0
45948  House GOP leader Kevin McCarthy outlined some ...      3924.0
45949  A suspected Chinese surveillance balloon in th...      3925.0
45950  As the US and its Canadian partners continue t...      3926.0
45951  A former graduate student in Chicago was sente...      3927.0
45952  Tensions are mounting at the border between Uk...      3928.0

In [4]:
# print the dimensions 
print("The data shape (rows and columns):")
print(df.shape)

The data shape (rows and columns):
(45953, 12)

In [5]:
# print data types 
print("The data types of each columns:")
print(df.dtypes)

The data types of each columns:
Index              float64
Author              object
Date published      object
Category            object
Section             object
Url                 object
Headline            object
Description         object
Keywords            object
Second headline     object
Article text        object
Unnamed: 0         float64
dtype: object

In [6]:
# print information about each column (data type and non-null values)
print("Information about each column:")
print(df.info())

Information about each column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45953 entries, 0 to 45952
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index            42025 non-null  float64
 1   Author           42025 non-null  object
 2   Date published   42025 non-null  object
 3   Category         45953 non-null  object
 4   Section          42025 non-null  object
 5   Url              45953 non-null  object
 6   Headline         45953 non-null  object
 7   Description      45949 non-null  object
 8   Keywords         44811 non-null  object
 9   Second headline  42025 non-null  object
 10  Article text     45944 non-null  object
 11  Unnamed: 0       3928 non-null   float64
dtypes: float64(2), object(10)
memory usage: 4.2+ MB
None

In [7]:
# print each unique counts of the column (target values)
print("Unique count in category column:")
print(df['Category'].value_counts())

Unique count in category column:
Category
news             19688
sport            17965
politics          3101
business          1879
health            1089
world              820
entertainment      615
us                 317
opinions           280
weather            115
travel              52
style               16
cnn                 11
vr                   5
Name: count, dtype: int64

In [8]:
# check for any missing values 
print("Missing value counts across all columns:")
print(df.isnull().sum())

Missing value counts across all columns:
Index               3928
Author              3928
Date published      3928
Category               0
Section             3928
Url                    0
Headline               0
Description            4
Keywords            1142
Second headline     3928
Article text           9
Unnamed: 0         42025
dtype: int64

In [9]:
# check for any duplication
print("Duplicate data counts across all rows:")
print(df.duplicated().sum())

# filter  the dataFrame for duplicate rows
duplicate_rows = df[df.duplicated(keep=False)]

# print the duplicate data
print("Duplicate data:")
print(duplicate_rows)

Duplicate data counts across all rows:
2
Duplicate data:
      Index                    Author       Date published       Category  \
0       0.0        Jacopo Prisco, CNN  2021-07-15 02:46:59           news
47     57.0  Lisa Respers France, CNN  2022-03-14 19:54:44  entertainment
4076    0.0        Jacopo Prisco, CNN  2021-07-15 02:46:59           news
4133   57.0  Lisa Respers France, CNN  2022-03-14 19:54:44  entertainment

            Section                                                Url  \
0             world  https://www.cnn.com/2021/07/14/world/tusimple-...
47    entertainment  https://www.cnn.com/2022/03/14/entertainment/g...
4076          world  https://www.cnn.com/2021/07/14/world/tusimple-...
4133  entertainment  https://www.cnn.com/2022/03/14/entertainment/g...

                                               Headline  \
0     There's a shortage of truckers, but TuSimple t...
47    'The Gilded Age' reminds us that the Black eli...
4076  There's a shortage of truckers, but TuSimple t...
4133  'The Gilded Age' reminds us that the Black eli...

                                            Description  \
0     The e-commerce boom has exacerbated a global t...
47    The storyline of "The Gilded Age" begins less ...
4076  The e-commerce boom has exacerbated a global t...
4133  The storyline of "The Gilded Age" begins less ...

                                               Keywords  \
0     world, There's a shortage of truckers, but TuS...
47    entertainment, 'The Gilded Age' reminds us tha...
4076  world, There's a shortage of truckers, but TuS...
4133  entertainment, 'The Gilded Age' reminds us tha...

                                        Second headline  \
0     There's a shortage of truckers, but TuSimple t...
47    'The Gilded Age' reminds us that the Black eli...
4076  There's a shortage of truckers, but TuSimple t...
4133  'The Gilded Age' reminds us that the Black eli...

                                           Article text  Unnamed: 0
0      (CNN)Right now, there's a shortage of truck d...         NaN
47     (CNN)The storyline of "The Gilded Age" begins...         NaN
4076   (CNN)Right now, there's a shortage of truck d...         NaN
4133   (CNN)The storyline of "The Gilded Age" begins...         NaN

In [10]:
# review one of the duplicate row
pd.set_option('display.max_rows', None)

df[df['Headline'] == "There's a shortage of truckers, but TuSimple thinks it has a solution: no driver needed - CNN"]

,Index,Author,Date published,Category,Section,Url,Headline,Description,Keywords,Second headline,Article text,Unnamed: 0
0,0.0,"Jacopo Prisco, CNN",2021-07-15 02:46:59,news,world,https://www.cnn.com/2021/07/14/world/tusimple-...,"There's a shortage of truckers, but TuSimple t...",The e-commerce boom has exacerbated a global t...,"world, There's a shortage of truckers, but TuS...","There's a shortage of truckers, but TuSimple t...","(CNN)Right now, there's a shortage of truck d...",NaN
4076,0.0,"Jacopo Prisco, CNN",2021-07-15 02:46:59,news,world,https://www.cnn.com/2021/07/14/world/tusimple-...,"There's a shortage of truckers, but TuSimple t...",The e-commerce boom has exacerbated a global t...,"world, There's a shortage of truckers, but TuS...","There's a shortage of truckers, but TuSimple t...","(CNN)Right now, there's a shortage of truck d...",NaN