Data Cleaning

In [1]:
import pandas as pd

# load the dataset
df = pd.read_csv('News_Articles_Final.csv')

Select the Columns that used for this assignment/ relevant to the scopes

In [2]:
import pandas as pd

# load the dataset
df = pd.read_csv('News_Articles_Final.csv')

# select the selected columns
df = df[['Date published', 'Category', 'Headline', 'Article text']]

Renamned columns

In [3]:
# Rename the columns
df = df.rename(columns={
    'Date published': 'date published',
    'Category': 'category',
    'Headline': 'headline',
    'Article text': 'text'
})

Drop N/A (Except Date Published)

In [4]:
# drop missing values
print("Before Drop: ")
print(df.isnull().sum())

df = df.dropna(subset=['text'])

print("\nAfter Drop: ")
print(df.isnull().sum())

Before Drop:
date published    3928
category             0
headline             0
text                 9
dtype: int64

After Drop:
date published    3928
category             0
headline             0
text                 0
dtype: int64

Drop Duplicated

In [5]:
# check duplicated
print('Total Duplicated:', df.duplicated().sum())

# review duplicated
df[df.duplicated()]

Total Duplicated: 4032

,date published,category,headline,text
4076,2021-07-15 02:46:59,news,"There's a shortage of truckers, but TuSimple t...","(CNN)Right now, there's a shortage of truck d..."
4077,2021-05-12 07:52:09,news,Bioservo's robotic 'Ironhand' could protect fa...,(CNN)Working in a factory or warehouse can me...
4078,2021-06-16 02:51:30,news,This swarm of robots gets smarter the more it ...,"(CNN)In a Hong Kong warehouse, a swarm of aut..."
4094,2022-03-03 05:17:39,business,India's young investors prefer crypto to gold ...,New Delhi (CNN Business)Indian businesswoman S...
4095,2022-02-01 10:44:06,business,India budget 2022: Digital rupee and crypto ta...,New Delhi (CNN Business)India is planning to l...
...,...,...,...,...
41936,2022-03-13 19:13:03,sport,Patrick Mahomes marries high school sweetheart...,(CNN)Kansas City Chiefs quarterback Patrick M...
41938,2022-03-13 17:32:43,sport,Chelsea FC: Dramatic late Havertz winner steal...,(CNN)After one of the most tumultuous weeks i...
41945,2022-03-11 11:46:05,sport,"Tommy Fleetwood, Tom Hoge share early lead at ...",(CNN)England's Tommy Fleetwood and American T...
41961,2022-03-09 10:43:13,sport,Andy Murray to donate 2022 season prize money ...,(CNN)Andy Murray has pledged to donate the re...
42001,2022-03-04 17:41:08,sport,Obituary: Shane Warne was cricket's great show...,(CNN)Whether it was his bleach blonde hair or...

In [6]:
# review one of the duplicate row
df[df['headline'] == "There's a shortage of truckers, but TuSimple thinks it has a solution: no driver needed - CNN"]

,date published,category,headline,text
0,2021-07-15 02:46:59,news,"There's a shortage of truckers, but TuSimple t...","(CNN)Right now, there's a shortage of truck d..."
4076,2021-07-15 02:46:59,news,"There's a shortage of truckers, but TuSimple t...","(CNN)Right now, there's a shortage of truck d..."

In [7]:
# drop duplicates
df = df.drop_duplicates()

Remove Outliers in Category column

In [8]:
# value counts Category
category_counts = df['category'].value_counts()
print("Before Drop: ")
print(category_counts)

# list of categories to remove
categories_to_remove = ['travel', 'style', 'cnn', 'vr']

# remove rows with specified categories
df = df[~df['category'].isin(categories_to_remove)]

# valuie counts Category column after removed
category_counts_after_removal = df['category'].value_counts()
print("\nAfter Drop: ")
print(category_counts_after_removal)

Before Drop:
news             18076
sport            15791
politics          3032
business          1796
health            1039
world              820
entertainment      562
us                 317
opinions           280
weather            115
travel              52
style               16
cnn                 11
vr                   5
Name: category, dtype: int64

After Drop:
news             18076
sport            15791
politics          3032
business          1796
health            1039
world              820
entertainment      562
us                 317
opinions           280
weather            115
Name: category, dtype: int64

Save to a new file

In [9]:
# save the cleaned dataset to a new CSV file
df.to_csv('Cleaned_News_Articles_Final.csv', index=False)

Last check after cleaning

In [10]:
import pandas as pd

# read csv file
df = pd.read_csv('Cleaned_News_Articles_Final.csv')

# last check missing values 
print(df.isnull().sum())

# last check duplicated
print(df.duplicated().sum())

# dimensions 
print(df.shape)

date published    3889
category             0
headline             0
text                 0
dtype: int64
0
(41828, 4)